<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico">

    {% if title is defined %}
        <title{{ title }}</title>
    {% endif %}

    {% stylesheets
        'bundles/default/vendor/bootstrap/css/bootstrap.min.css'
        'bundles/default/inside/css/theme.css'
        'bundles/default/vendor/font-awesome/css/font-awesome.min.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block javascripts %}
        {% javascripts
            'bundles/default/vendor/jquery/jquery.min.js'
            'bundles/default/vendor/bootstrap/js/bootstrap.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>{% set navs = [
            {
                name: 'Панель',
                path: path('inside_default'),
                route: 'inside_default'
            },
            {
                name: 'Обявления',
                path: path('inside_advert_list'),
                route: 'inside_advert_list'
            },
            {
                name: 'Разделы',
                path: path('inside_category_list'),
                route: 'inside_category_list'
            }
            ] %}
            <ul class="nav nav-pills pull-right">
                {% for nav in navs %}
                    {% set activeClass = app.request.attributes.get('_route') == nav.route ? 'active' : '' %}
                    <li role="presentation" class="{{ activeClass }}"><a href="{{ nav.path }}">{{ nav.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <h3 class="text-muted">INSIDE <i class="fa fa-puzzle-piece"></i></h3>
    </div>

    {% block content %}{% endblock content %}

</div> <!-- /container -->
<footer class="footer">
    <div class="container">
        <p class="text-muted">Inside of @Advert application. 2015</p>
    </div>
</footer>
</body>
</html>
