<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    {% if title is defined %}
        <title{{ title }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="{{ asset('bundles/default/app/images/favicon.ico') }}">

    {% stylesheets
    'bundles/default/vendor/font-awesome/css/font-awesome.min.css'
    'bundles/default/app/css/bootstrap.min.css'
    'bundles/default/app/css/prettyPhoto.css'
    'bundles/default/app/css/flexslider.css'
    'bundles/default/app/css/animate.css'
    'bundles/default/app/css/style.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- SCRIPTS -->
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if IE]><html class="ie" lang="en"> <![endif]-->

    {% block javascripts %}
        {% javascripts
        'bundles/default/vendor/jquery/jquery.min.js'
        'bundles/default/vendor/jquery-ui/jquery-ui.min.js'
        'bundles/default/vendor/bootstrap/js/bootstrap.js'
        'bundles/default/app/js/jquery.prettyPhoto.js'
        'bundles/default/app/js/jquery.twitter.js'
        'bundles/default/app/js/superfish.min.js'
        'bundles/default/app/js/jquery.flexslider-min.js'
        'bundles/default/app/js/animate.js'
        'bundles/default/app/js/myscript.js'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}

</head>
<body>

<!-- PAGE -->
<div id="page">

    <!-- CONTAINER -->
    <div class="container page_block">

        <!-- WRAPPER -->
        <div class="wrapper">

            <!-- HEADER -->
            <header>

                <!-- MENU -->
                <div class="menu_block clearfix">

                    <!-- LOGO -->
                    <div class="logo">
                        <a href="index.html" alt=""><img src="{{ asset('bundles/default/app/images/logo.png') }}" alt="" /></a>
                    </div><!-- LOGO -->


                    <!-- RESPONSIVE BUTTON MENU -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                    </div><!-- //RESPONSIVE BUTTON MENU -->

                    {{ render(controller('DefaultBundle:App/Widget:navbar', {request: app.request})) }}

                </div><!-- //MENU -->
            </header><!-- //HEADER -->

            {% block breadcrumbs %}
                {% include '@Default/App/Widget/breadcrumbs.html.twig' %}
            {% endblock breadcrumbs %}

            {% block content %}
            {% endblock content %}

            <!-- FOOTER -->
            <footer class="full_width footer_block">

                <!-- ROW -->
                <div class="row" data-animated="fadeInUp">

                    <!-- CONTACT INFO -->
                    <div class="col-sm-6 padbot30">
                        <h2>Contact Info</h2>
                        <p>Vestibulum sem nulla, euismod ac facilisis in, condimentum adipiscing</p>
                        <ul class="contact_info">
                            <li><span class="glyphicon glyphicon-map-marker"></span>Lorem Ipsum</li>
                            <li><span class="glyphicon glyphicon-home"></span>2046 Lorem Ipsum Dolor Sit 20707</li>
                            <li><span class="glyphicon glyphicon-earphone"></span>576-245-2478</li>
                            <li><span class="glyphicon glyphicon-print"></span>786-277-7999</li>
                            <li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:info@ideologic.net">info@ideologic.net</a></li>
                            <li><span class="glyphicon glyphicon-globe"></span><a href="javascript:void(0);">www.ideologic.net</a></li>
                        </ul>
                    </div><!-- //CONTACT INFO -->


                    <!-- GET IN TOUCH -->
                    <div class="col-sm-6 padbot30">
                        <h2>Get in Touch</h2>
                        <!-- contact form -->
                        <div class="contact_form">
                            <div id="note"></div>
                            <div id="fields">
                                <form id="ajax-contact-form" action="">
                                    <input class="input_wt" type="text" name="name" value="Name" onFocus="if (this.value == 'Name') this.value = '';" onBlur="if (this.value == '') this.value = 'Name';" />
                                    <input class="input_wt last" type="text" name="email" value="Email" onFocus="if (this.value == 'Email') this.value = '';" onBlur="if (this.value == '') this.value = 'Email';" />
                                    <textarea class="input_wt" name="message" id="message" onFocus="if (this.value == 'Message') this.value = '';" onBlur="if (this.value == '') this.value = 'Message';">Message</textarea>
                                    <div class="clear"></div>
                                    <input type="submit" class="contact_btn" value="send" />
                                    <div class="clear"></div>
                                </form>
                            </div>
                        </div><!-- //contact form -->
                    </div><!-- //GET IN TOUCH -->
                </div><!-- //ROW -->

                <!-- COPYRIGHT -->
                <div class="copyright clearfix">
                    <div class="pull-left">
                        <a class="copyright_logo" href="javascript:void(0);">tone</a> <span> &copy; Copyright 2020</span>
                    </div>

                    <div class="pull-right">
                        <!-- FOOTER SOCIAL -->
                        <ul class="social">
                            <li class="icon1"><a href="javascript:void(0);" alt=""></a></li>
                            <li class="icon2"><a href="javascript:void(0);" alt=""></a></li>
                            <li class="icon3"><a href="javascript:void(0);" alt=""></a></li>
                            <li class="icon4"><a href="javascript:void(0);" alt=""></a></li>
                            <li class="icon5"><a href="javascript:void(0);" alt=""></a></li>
                            <li class="icon6"><a href="javascript:void(0);" alt=""></a></li>
                        </ul><!-- //FOOTER SOCIALS -->
                    </div>
                </div><!-- //COPYRIGHT -->
            </footer><!-- //FOOTER -->
        </div><!-- //WRAPPER -->
    </div><!-- //CONTAINER -->
</div><!-- //PAGE -->
</body>
</html>