{% extends '@Default/App/layout.html.twig' %}

{% set title = 'Создание обявления' %}
{% set breadcrumbs = [
{title: 'Обявления', path: path('app_advert_list')},
{title: 'Создание обявления'}
] %}

{% block content %}
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}