{% extends '@Default/App/layout.html.twig' %}

{% set title = 'Обявления' %}
{% set breadcrumbs = {title: 'Обявления'} %}

{% block content %}
    {% if adverts|length > 0 %}
        {% for advert in adverts %}
            <div class="b-col-default-indent">
                <div class="col-md-12">
                    <div class="b-product-preview-row f-product-preview-row">
                        <div class="row">
                            <div class="b-product-preview-row__img">
                                <img data-retina="" src="{{ image(advert.thumb).cropResize(200).jpeg }}" width="200">
                            </div>
                            <div class="b-product-preview-row__content">
                                <a href="{{ path('app_advert_show', {id: advert.id}) }}" class="b-product-preview-row_title f-primary-b f-title-medium f-uppercase">{{ advert.title }}</a>
                                <div class="b-portfolio_info_rating">
                                    <span class="b-product-preview-row_price f-primary-b c-default f-title-medium">$ 239</span>
                                    <span class="b-rating_bord hidden-xs"></span>
                                    <div class="b-stars-group f-stars-group">
                                        <i class="fa fa-star is-active-stars"></i>
                                        <i class="fa fa-star is-active-stars"></i>
                                        <i class="fa fa-star is-active-stars"></i>
                                        <i class="fa fa-star is-active-stars"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span class="b-rating_bord hidden-xs"></span>
                                    <div class="b-portfolio_rating_category">
                                        <span class="f-portfolio_category_title">Categoires :</span>
                                        <a href="#" class="f-portfolio_category_name f-more">Women</a>
                                    </div>
                                </div>
                                <p class="b-product-preview-row_description c-senary">
                                    {{ advert.description|slice(0, 60) }}...
                                </p>
                                <div>
                                    <a class="btn btn-default" href="{{ path('app_advert_show', {id:advert.id}) }}">
                                        <i class="fa fa-circle-o-notch"></i> Просмотреть
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-info">
            No results
        </div>
    {% endif %}
{% endblock %}