{% extends '@Default/App/layout.html.twig' %}

{% set title = 'Просмотр обявления' %}
{% set breadcrumbs = [
{title: 'Обявления', path:path('app_advert_list')},
{title: 'Просмотр'}
] %}

{% block content %}
    <h1>{{ advert.title }}</h1>
    <div class="well">
        {{ advert.description }}
    </div>
{% endblock %}