{% if entities|length > 0 %}
<div class="product-list grid-layout clearfix">
    <div class="row">
        <div class="col-sm-12 col-md-12 the-title">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-8">
                    <h3>{{ heading_title }}</h3>
                    <span>{{ heading_descr }}</span>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-4">
                    <a class="pull-right btn btn-flat-alizarin">Показать больше <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>

        {% if entities|length > 0 %}
            {% for advert in entities %}
                {% include '@Advert/Advert/Section/advert.html.twig' ignore missing %}
            {% endfor %}
        {% else %}
            {{ include('@Core/Section/noResult.html.twig') }}
        {% endif %}
    </div>

</div>
{% endif %}