{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form) }}
    {% set fields = ['email', 'firstName', 'lastName', 'gender', 'plainPassword'] %}
    {% for field in fields %}
        {{ form_row(form[field]) }}
    {% endfor %}

<div class="clearfix"></div>
<div class="col-lg-offset-3 col-lg-9">
    <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}"/>
</div>
{{ form_end(form) }}
