<section id="sidebar">
    <section id="aside-product-search">

        <div class="row">
            <div class="col-md-12">
                <!-- Search Listing -->
                <div class="product-list-search aside">

                    <div class="inner">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default panel-search">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            Advanced Search
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in panel-all-collapse">
                                    <div class="panel-body">
                                        <form class="form-search clearfix" role="form">

                                            <div class="form-group col-lg-12">
                                                <label for="">Distance from Location</label>
                                                <select class="form-control selectpicker" style="display: none;">
                                                    <option>This area only</option>
                                                    <option>Within 1 km</option>
                                                    <option>Within 2 km</option>
                                                    <option>Within 3 km</option>
                                                    <option>Within 4 km</option>
                                                </select>

                                                <div class="btn-group bootstrap-select form-control">
                                                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="This area only"><span
                                                                class="filter-option pull-left">This area only</span>&nbsp;<span class="caret"></span></button>
                                                    <div class="dropdown-menu open">
                                                        <ul class="dropdown-menu inner selectpicker" role="menu">
                                                            <li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">This area only</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="1"><a tabindex="0" class="" style=""><span class="text">Within 1 km</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="2"><a tabindex="0" class="" style=""><span class="text">Within 2 km</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="3"><a tabindex="0" class="" style=""><span class="text">Within 3 km</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="4"><a tabindex="0" class="" style=""><span class="text">Within 4 km</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-lg-12">
                                                <label for="">Added</label>
                                                <select class="form-control selectpicker" style="display: none;">
                                                    <option>Anytime</option>
                                                    <option>last 24 hours</option>
                                                    <option>Last 3 days ago</option>
                                                    <option>Last 5 days ago</option>
                                                    <option>Last 7 days ago</option>
                                                </select>

                                                <div class="btn-group bootstrap-select form-control">
                                                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Anytime"><span
                                                                class="filter-option pull-left">Anytime</span>&nbsp;<span class="caret"></span></button>
                                                    <div class="dropdown-menu open">
                                                        <ul class="dropdown-menu inner selectpicker" role="menu">
                                                            <li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">Anytime</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="1"><a tabindex="0" class="" style=""><span class="text">last 24 hours</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="2"><a tabindex="0" class="" style=""><span class="text">Last 3 days ago</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="3"><a tabindex="0" class="" style=""><span class="text">Last 5 days ago</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="4"><a tabindex="0" class="" style=""><span class="text">Last 7 days ago</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-lg-12">
                                                <label for="">Sort By</label>
                                                <select class="form-control selectpicker" style="display: none;">
                                                    <option>Most Recent</option>
                                                    <option>Highest Price</option>
                                                    <option>Lowest Price</option>
                                                    <option>Featured only</option>
                                                    <option>Most Popular</option>
                                                </select>

                                                <div class="btn-group bootstrap-select form-control">
                                                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Most Recent"><span
                                                                class="filter-option pull-left">Most Recent</span>&nbsp;<span class="caret"></span></button>
                                                    <div class="dropdown-menu open">
                                                        <ul class="dropdown-menu inner selectpicker" role="menu">
                                                            <li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">Most Recent</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="1"><a tabindex="0" class="" style=""><span class="text">Highest Price</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="2"><a tabindex="0" class="" style=""><span class="text">Lowest Price</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="3"><a tabindex="0" class="" style=""><span class="text">Featured only</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="4"><a tabindex="0" class="" style=""><span class="text">Most Popular</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-lg-12">
                                                <label for="">Status</label>
                                                <select class="form-control selectpicker" style="display: none;">
                                                    <option>Freehold</option>
                                                    <option>Leasehold</option>
                                                </select>

                                                <div class="btn-group bootstrap-select form-control">
                                                    <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Freehold"><span
                                                                class="filter-option pull-left">Freehold</span>&nbsp;<span class="caret"></span></button>
                                                    <div class="dropdown-menu open">
                                                        <ul class="dropdown-menu inner selectpicker" role="menu">
                                                            <li rel="0" class="selected"><a tabindex="0" class="" style=""><span class="text">Freehold</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                            <li rel="1"><a tabindex="0" class="" style=""><span class="text">Leasehold</span><i
                                                                            class="glyphicon glyphicon-ok icon-ok check-mark"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-lg-12">
                                                <button type="submit" class="btn-search btn btn-flat-alizarin">Refine Search</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-search">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            Filter Type
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse in panel-all-collapse">
                                    <div class="panel-body">
                                        <div class="checkbox-group">
                                            <h5 class="uppercase">Property Type</h5>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" autocomplete="off" style="display: none;"><span class="button-checkbox bootstrap-checkbox"><button
                                                                type="button" class="btn clearfix btn-link"><span class="icon fa fa-check-square"
                                                                                                                  style="display: none;"></span><span
                                                                    class="icon fa fa-square-o"></span><span class="icon cb-icon-check-indeterminate" style="display: none;"></span>
                                                        </button></span> Terraces
                                                </label>
                                                <span class="badge">42</span>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" autocomplete="off" style="display: none;"><span class="button-checkbox bootstrap-checkbox"><button
                                                                type="button" class="btn clearfix btn-link"><span class="icon fa fa-check-square"
                                                                                                                  style="display: none;"></span><span
                                                                    class="icon fa fa-square-o"></span><span class="icon cb-icon-check-indeterminate" style="display: none;"></span>
                                                        </button></span> Apartments
                                                </label>
                                                <span class="badge">10</span>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" autocomplete="off" style="display: none;"><span class="button-checkbox bootstrap-checkbox"><button
                                                                type="button" class="btn clearfix btn-link"><span class="icon fa fa-check-square"
                                                                                                                  style="display: none;"></span><span
                                                                    class="icon fa fa-square-o"></span><span class="icon cb-icon-check-indeterminate" style="display: none;"></span>
                                                        </button></span> Bungalow
                                                </label>
                                                <span class="badge">20</span>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" autocomplete="off" style="display: none;"><span class="button-checkbox bootstrap-checkbox"><button
                                                                type="button" class="btn clearfix btn-link"><span class="icon fa fa-check-square"
                                                                                                                  style="display: none;"></span><span
                                                                    class="icon fa fa-square-o"></span><span class="icon cb-icon-check-indeterminate" style="display: none;"></span>
                                                        </button></span> Semi-Detached
                                                </label>
                                                <span class="badge">4</span>
                                            </div>
                                        </div>

                                        <div class="checkbox-group">
                                            <h5 class="uppercase">Property Features</h5>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" autocomplete="off" style="display: none;"><span class="button-checkbox bootstrap-checkbox"><button
                                                                type="button" class="btn clearfix btn-link"><span class="icon fa fa-check-square"
                                                                                                                  style="display: none;"></span><span
                                                                    class="icon fa fa-square-o"></span><span class="icon cb-icon-check-indeterminate" style="display: none;"></span>
                                                        </button></span> Balcony
                                                </label>
                                                <span class="badge">42</span>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" autocomplete="off" style="display: none;"><span class="button-checkbox bootstrap-checkbox"><button
                                                                type="button" class="btn clearfix btn-link"><span class="icon fa fa-check-square"
                                                                                                                  style="display: none;"></span><span
                                                                    class="icon fa fa-square-o"></span><span class="icon cb-icon-check-indeterminate" style="display: none;"></span>
                                                        </button></span> Club House
                                                </label>
                                                <span class="badge">10</span>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" autocomplete="off" style="display: none;"><span class="button-checkbox bootstrap-checkbox"><button
                                                                type="button" class="btn clearfix btn-link"><span class="icon fa fa-check-square"
                                                                                                                  style="display: none;"></span><span
                                                                    class="icon fa fa-square-o"></span><span class="icon cb-icon-check-indeterminate" style="display: none;"></span>
                                                        </button></span> Swimming Pool
                                                </label>
                                                <span class="badge">20</span>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" autocomplete="off" style="display: none;"><span class="button-checkbox bootstrap-checkbox"><button
                                                                type="button" class="btn clearfix btn-link"><span class="icon fa fa-check-square"
                                                                                                                  style="display: none;"></span><span
                                                                    class="icon fa fa-square-o"></span><span class="icon cb-icon-check-indeterminate" style="display: none;"></span>
                                                        </button></span> Garden
                                                </label>
                                                <span class="badge">4</span>
                                            </div>
                                        </div>

                                        <div class="checkbox-group">
                                            <h5 class="uppercase">Property Status</h5>

                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" autocomplete="off" style="display: none;"><span class="button-checkbox bootstrap-checkbox"><button
                                                                type="button" class="btn clearfix btn-link"><span class="icon fa fa-check-square"
                                                                                                                  style="display: none;"></span><span
                                                                    class="icon fa fa-square-o"></span><span class="icon cb-icon-check-indeterminate" style="display: none;"></span>
                                                        </button></span> Freehold
                                                </label>
                                                <span class="badge">42</span>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" autocomplete="off" style="display: none;"><span class="button-checkbox bootstrap-checkbox"><button
                                                                type="button" class="btn clearfix btn-link"><span class="icon fa fa-check-square"
                                                                                                                  style="display: none;"></span><span
                                                                    class="icon fa fa-square-o"></span><span class="icon cb-icon-check-indeterminate" style="display: none;"></span>
                                                        </button></span> Leasehold
                                                </label>
                                                <span class="badge">10</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end Search Listing -->

            </div>
        </div>

    </section>
</section>