{% extends '@Default/Inside/layout.html.twig' %}

{% block content %}
    {% if parent is defined %}
        <div class="pull-right">
            <a class="btn btn-default btn-sm" href="{{ path('inside_category_list', {parent:parent}) }}">На уровень выше</a>
        </div>
    {% endif %}
    <h1>Разделы</h1>

    {% if categories|length > 0 %}
        <table class="table table-hover">
            <tbody>
            {% for category in categories %}
                <tr>
                    <td><a href="{{ path('inside_category_list', {parent:category.id}) }}" class="fa fa-plus item" data-status="close" data-id="{{ category.id }}"></a></td>
                    <td>{{ category.title }}</td>
                    {#<td>{{ category.parent.getTitle() }}</td>#}
                    <td>{{ category.lft }}</td>
                    <td>{{ category.lvl }}</td>
                    <td>{{ category.rgt }}</td>
                    <td>{{ category.root }}</td>
                    <td class="text-right">
                        <div class="btn-group btn-group-xs">
                            {#<a class="btn btn-default" href="{{ path('inside_category_show', {id: category.id}) }}"><i class="fa fa-file-text-o"></i></a>#}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">
            No results
        </div>
    {% endif %}
{% endblock %}