<!-- ABOUT BLOCK -->
<section class="about_block padbot80">

    <!-- ROW -->
    <div class="row" data-appear-top-offset="-100" data-animated="fadeInUp">

        <!-- OUR SKILLS -->
        <div class="col-lg-6 col-md-6 col-sm-5 padbot30 our_skills">
            <h2>Our Skills</h2>

            <div class="our-skills">
                <div class="skill_item">
                    <span>Wordpress Development</span>
                    <div class="skill-bar" href="javascript:void(0);" alt="">
                        <i>80%</i>
                        <div class="progress-complete" data-width="80%"></div>
                    </div>
                </div>
                <div class="skill_item">
                    <span>WEB DESIGN</span>
                    <div class="skill-bar" href="javascript:void(0);" alt="">
                        <i>40%</i>
                        <div class="progress-complete" data-width="40%"></div>
                    </div>
                </div>
                <div class="skill_item">
                    <span>GAME DEVELOPMENT</span>
                    <div class="skill-bar" href="javascript:void(0);" alt="">
                        <i>100%</i>
                        <div class="progress-complete" data-width="100%"></div>
                    </div>
                </div>
                <div class="skill_item">
                    <span>graphic design</span>
                    <div class="skill-bar" href="javascript:void(0);" alt="">
                        <i>75%</i>
                        <div class="progress-complete" data-width="75%"></div>
                    </div>
                </div>
            </div>
        </div><!-- //OUR SKILLS -->

        <!-- VISION SLIDER -->
        <div class="col-lg-6 col-md-6 col-sm-7 padbot30">
            <div class="flexslider vision_slider">
                <ul class="slides">
                    <li class="slide1">
                        <img src="{{ asset('bundles/default/app/images/projects/1.jpg') }}" />
                        <div class="flex_caption1">
                            <span>Phasellus elementum tellus sed tempor</span>
                            <br>
                            <p>Maecenas ut est faucibus</p>
                        </div>
                    </li>
                    <li class="slide2">
                        <img src="{{ asset('bundles/default/app/images/projects/2.jpg') }}" />
                        <div class="flex_caption1">
                            <p>Phasellus elementum<br> tellus <span class="color_text">sed tempor</span> tristique.</p>
                        </div>
                    </li>
                    <li class="slide3">
                        <img src="{{ asset('bundles/default/app/images/projects/3.jpg') }}" />
                        <div class="flex_caption1">
                            <p>Phasellus elementum tellus sed<br> tempor tristique. Maecenas ut<br> est faucibus, tincidunt</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- //VISION SLIDER -->
    </div><!-- //ROW -->
</section><!-- //ABOUT BLOCK -->