{% set mainTitle = '' %}
{% set mainTitle = title is defined ? title : mainTitle %}
{% set mainTitle = headingTitle is defined ? headingTitle : mainTitle %}

{% if breadcrumbs is not defined %}
    {% set breadcrumbs = [] %}
{% endif %}

{% if breadcrumbs.title is defined %}
    {% set breadcrumbs = [breadcrumbs] %}
{% endif %}

{% if breadcrumbs|length > 0 %}
    {% set breadcrumbs = [{
        title: 'Главная',
        path: 'app_default'
    }]|merge(breadcrumbs) %}
{% endif %}

<!-- BREADCRUMBS -->
<section class="full_width breadcrumbs_block clearfix">
    <div class="breadcrumbs_content">
        <h2 class="pull-left">{{ mainTitle }}</h2>
        {% if breadcrumbs|length > 0 %}
            <ol class="pull-right breadcrumb">
                {% for item in breadcrumbs %}
                    {% set hrefAttr = item.path is defined ? ' href="' ~ item.path ~ '"' : '' %}
                    {% autoescape false %}
                        <li><a{{ hrefAttr }}>{{ item.title }}</a></li>
                    {% endautoescape %}
                {% endfor %}
            </ol>
        {% endif %}
    </div>
    <div class="overlay"></div>
    <div class="overlay_black"></div>
</section><!-- //BREADCRUMBS -->