<!-- CONTENT INFO -->
<section class="content_info clearfix">

    <!-- ROW -->
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ss-12 padbot30" data-appear-top-offset="-100" data-animated="fadeInLeft">
            <div class="left_content">
                <p class="title">Aenean a odio sollicitudin, pellentesque felis accumsan,</p>
                <ul class="content_info_list">
                    <li>Aliquam tempus est sit amet orci porta condimentum.<span class="glyphicon glyphicon-play-circle"></span></li>
                    <li>Quisque hendrerit velit erat, in bibendum eros<span class="glyphicon glyphicon-play-circle"></span></li>
                    <li>Ultricies sit amet.<span class="glyphicon glyphicon-play-circle"></span></li>
                </ul>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ss-12 padbot30" data-appear-top-offset="-100" data-animated="fadeInRight">
            <div class="right_content">
                <p class="title">Nullam venenatis non lacus eu feugiat. Aenean a odio</p>
                <ul class="content_info_list">
                    <li><span class="glyphicon glyphicon-play-circle"></span>Aliquam tempus est sit amet orci porta condimentum.</li>
                    <li><span class="glyphicon glyphicon-play-circle"></span>Quisque hendrerit velit erat, in bibendum eros</li>
                    <li><span class="glyphicon glyphicon-play-circle"></span>Ultricies sit amet.</li>
                </ul>
            </div>
        </div>
    </div><!-- //ROW -->
</section><!-- //CONTENT INFO -->