<div class="navbar-collapse collapse">

    <ul class="nav navbar-nav">
        <a href="{{ path('app_advert_create') }}" class="btn btn-default">Добавить обявление</a>
        {% for item in items %}
            {% set classes = [] %}
            {% set classes = loop.first ? classes|merge(['first']) : classes %}
            {% set classes = loop.last ? classes|merge(['last']) : classes %}
            {% set classes = item.active is defined ? classes|merge(['active']) : classes %}
            <li class="{{ classes|join(' ') }}"><a href="{{ path(item.path) }}" title="">{{ item.title }}</a></li>
        {% endfor %}

        {#<li class="sub-menu"><a href="javascript:void(0);" title="">Portfolio</a>#}
            {#<ul>#}
                {#<li><a href="portfolio1.html"><span>-</span>1 Column</a></li>#}
                {#<li><a href="portfolio2.html"><span>-</span>2 Column</a></li>#}
                {#<li><a href="portfolio3.html"><span>-</span>3 Column</a></li>#}
                {#<li><a href="portfolio4.html"><span>-</span>4 Column</a></li>#}
                {#<li><a href="portfolio-post.html"><span>-</span>Portfolio Post</a></li>#}
            {#</ul>#}
        {#</li>#}
    </ul>
</div>