<!-- RECENT PROJECTS -->
<section class="projects_block">
    <h2 class="center">Our Works</h2>

    <!-- JCAROUSEL -->
    <p class="jcarousel-pagination"></p>

    <div class="jcarousel-wrapper" data-appear-top-offset="-100" data-animated="fadeInUp">
        <div class="jcarousel">
            <ul>
                <li>
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="{{ asset('bundles/default/app/images/projects/1.jpg') }}" alt="" />
                            <a class="zoom" href="{{ asset('bundles/default/app/images/projects/1.jpg') }}" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="{{ asset('bundles/default/app/images/projects/2.jpg') }}" alt="" />
                            <a class="zoom" href="{{ asset('bundles/default/app/images/projects/3.jpg') }}" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="{{ asset('bundles/default/app/images/projects/3.jpg') }}" alt="" />
                            <a class="zoom" href="{{ asset('bundles/default/app/images/projects/3.jpg') }}" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="{{ asset('bundles/default/app/images/projects/4.jpg') }}" alt="" />
                            <a class="zoom" href="{{ asset('bundles/default/app/images/projects/4.jpg') }}" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="{{ asset('bundles/default/app/images/projects/5.jpg') }}" alt="" />
                            <a class="zoom" href="{{ asset('bundles/default/app/images/projects/5.jpg') }}" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="{{ asset('bundles/default/app/images/projects/6.jpg') }}" alt="" />
                            <a class="zoom" href="{{ asset('bundles/default/app/images/projects/6.jpg') }}" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="{{ asset('bundles/default/app/images/projects/7.jpg') }}" alt="" />
                            <a class="zoom" href="{{ asset('bundles/default/app/images/projects/7.jpg') }}" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="{{ asset('bundles/default/app/images/projects/8.jpg') }}" alt="" />
                            <a class="zoom" href="{{ asset('bundles/default/app/images/projects/8.jpg') }}" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="project_item">
                        <div class="hover_img">
                            <img src="{{ asset('bundles/default/app/images/projects/9.jpg') }}" alt="" />
                            <a class="zoom" href="{{ asset('bundles/default/app/images/projects/9.jpg') }}" rel="prettyPhoto[portfolio1]"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- //JCAROUSEL -->
</section><!-- //RECENT PROJECTS -->