<!-- SERVICES -->
<section class="services_block">

    <!-- ROW -->
    <div class="row" data-appear-top-offset="-100" data-animated="fadeInUp">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 service_item padbot30">
            <a href="javascript:void(0);" alt="">
                <div class="clearfix">
                    <i class="pull-left"><img class="icon" src="{{ asset('bundles/default/app/images/i1.png') }}" /><img class="icon_h" src="{{ asset('bundles/default/app/images/i1_h.png') }}" /></i>
                    <p>Responsive Layout</p>
                </div>
                <span>Quisque porttitor ligula ut nunc dictum, ac eleifend libero pulvinar. Etiam congue faucibus augue</span>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 service_item padbot30">
            <a href="javascript:void(0);" alt="">
                <div class="clearfix">
                    <i class="pull-left"><img class="icon" src="{{ asset('bundles/default/app/images/i2.png') }}" /><img class="icon_h" src="{{ asset('bundles/default/app/images/i2_h.png') }}" /></i>
                    <p>Dedicated Support</p>
                </div>
                <span>Quisque porttitor ligula ut nunc dictum, ac eleifend libero pulvinar. Etiam congue faucibus augue</span>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 service_item padbot30">
            <a href="javascript:void(0);" alt="">
                <div class="clearfix">
                    <i class="pull-left"><img class="icon" src="{{ asset('bundles/default/app/images/i3.png') }}" /><img class="icon_h" src="{{ asset('bundles/default/app/images/i3_h.png') }}" /></i>
                    <p>Unique Design</p>
                </div>
                <span>Quisque porttitor ligula ut nunc dictum, ac eleifend libero pulvinar. Etiam congue faucibus augue</span>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 service_item padbot30">
            <a href="javascript:void(0);" alt="">
                <div class="clearfix">
                    <i class="pull-left"><img class="icon" src="{{ asset('bundles/default/app/images/i4.png') }}" /><img class="icon_h" src="{{ asset('bundles/default/app/images/i4_h.png') }}" /></i>
                    <p>Brand & Identity</p>
                </div>
                <span>Quisque porttitor ligula ut nunc dictum, ac eleifend libero pulvinar. Etiam congue faucibus augue</span>
            </a>
        </div>
    </div><!-- //ROW -->
</section><!-- //SERVICES -->