<!-- SLIDER -->
<div class="slider_block full_width">
    <div class="flexslider top_slider">
        <ul class="slides">
            <li class="slide1" data-thumb="{{ asset('bundles/default/app/images/slider/slide1_bg.jpg') }}">
                <img src="{{ asset('bundles/default/app/images/slider/slide1_bg.jpg') }}" />
                <div class="flex_caption1 FromTop">Say Something <span class="color_text">Wonderful</span> Here</div>
                <div class="flex_caption2">
                    <div class="slide_icon FromBottom captionDelay3">
                        <img src="{{ asset('bundles/default/app/images/slider/s1.png') }}" alt="" />
                        <p>Innovations</p>
                    </div>
                    <div class="slide_icon FromBottom captionDelay4">
                        <img src="{{ asset('bundles/default/app/images/slider/s2.png') }}" alt="" />
                        <p>Great Ideas</p>
                    </div>
                    <div class="slide_icon FromBottom captionDelay5">
                        <img src="{{ asset('bundles/default/app/images/slider/s3.png') }}" alt="" />
                        <p>Video Tutorials</p>
                    </div>
                </div>
            </li>
            <li class="slide2" data-thumb="{{ asset('bundles/default/app/images/slider/slide2_bg.jpg') }}">
                <img src="{{ asset('bundles/default/app/images/slider/slide2_bg.jpg') }}" />
                <div class="flex_caption1 FromLeft"></div>
                <div class="flex_caption2 FromRight"></div>
                <div class="flex_caption3 FromTop captionDelay5">Aliquam tempus est sit amet orci</div>
                <div class="flex_caption4 FromBottom captionDelay5">Aliquam tempus est sit amet orci</div>
            </li>
        </ul>
    </div>
</div><!-- //SLIDER -->