/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-control-thumbs img {cursor:pointer;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider {overflow:hidden; position: relative; z-index:2;}
.flexslider.top_slider {min-height:616px; margin-bottom:70px;}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav li a {
	position:absolute;
	z-index:100;
	bottom:30px;
	display:block;
	width:22px;
	height:22px;
	text-align:center;
	line-height:20px;
	font-size:18px;
	color:#fff;
	opacity:0.5;
}
.flex-direction-nav li a:hover {opacity:1;}
.flex-direction-nav li a.flex-prev {right:57px;}
.flex-direction-nav li a.flex-next {right:35px;}


/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }



/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; z-index:100; bottom: 3px; right:0; text-align:center;}
.flex-control-nav li {display:inline-block; margin: 0 2px 0 5px;}
.flex-control-paging li a {
	display: block;
	width:12px;
	height:12px;
	cursor: pointer;
	border-radius:50%;
	background-color:rgba(255,255,255,0.34);
	text-indent:-9999px;
}
.flex-control-paging li a:hover {background-color:#ff6e59;}
.flex-control-paging li a.flex-active {background-color:#ff6e59; cursor: default; }






/* Top Slider Caption */
.top_slider .slide1 .flex_caption1 {
	position:absolute;
	z-index:30;
	left:50%;
	top:19%;
	margin-left:-300px;
	width:600px;
	text-align:center;
	line-height:35px;
	font-size:35px;
	color:#fff;
}
.top_slider .slide1 .flex_caption1:before,
.top_slider .slide1 .flex_caption1:after {
	content:'';
	position:absolute;
	top:46px;
	width:31px;
	height:84px;
	background-repeat:no-repeat;
	background-size:100% auto;
	-webkit-background-size:100% auto;
}
.top_slider .slide1 .flex_caption1:before {right:-76px; background-image:url(../images/slider/slide_arrow_r.png);}
.top_slider .slide1 .flex_caption1:after {left:-76px; background-image:url(../images/slider/slide_arrow_l.png);}

.top_slider .slide1 .flex_caption2 {
	position:absolute;
	z-index:25;
	left:0;
	bottom:21%;
	width:100%;
	text-align:center;
}
.top_slider .slide1 .flex_caption2 .slide_icon {
	display:inline-block;
	width:166px;
	margin:0 60px;
}
.top_slider .slide1 .flex_caption2 .slide_icon p {
	margin:0;
	padding:31px 0 0;
	line-height:20px;
	font-size:21px;
	color:#ff6e59;
}



.top_slider .slide2 .flex_caption1 {
	position:absolute;
	z-index:25;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	background-image:url(../images/slider/caption_img1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.top_slider .slide2 .flex_caption2 {
	position:absolute;
	z-index:26;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	background-image:url(../images/slider/caption_img2.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.top_slider .slide2 .flex_caption3 {
	position:absolute;
	z-index:30;
	left:57px;
	bottom:26%;
	width:230px;
	line-height:20px;
	font-size:13px;
	color:#fff;
}
.top_slider .slide2 .flex_caption3:before {
	content:'';
	position:absolute;
	left:-22px;
	top:-325px;
	width:436px;
	height:310px;
	background-image:url(../images/slider/caption_img4.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	-webkit-background-size:100% auto;
}

.top_slider .slide2 .flex_caption4 {
	position:absolute;
	z-index:30;
	right:30px;
	top:27%;
	width:260px;
	line-height:20px;
	font-size:13px;
	color:#fff;
}
.top_slider .slide2 .flex_caption4:before {
	content:'';
	position:absolute;
	right:-7px;
	top:45px;
	width:441px;
	height:312px;
	background-image:url(../images/slider/caption_img3.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	-webkit-background-size:100% auto;
}





/* __________ VISION SLIDER __________ */
.vision_slider {
	height:295px;
	background-color:#ff6e59;
}
.vision_slider:before {
	content:'';
	position:absolute;
	z-index:10;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.57);
}
.vision_slider.flexslider .slides li {
	z-index:inherit !important;
	height:295px;
}
.vision_slider .slides li img {opacity:0.65;}

.vision_slider .slide1 .flex_caption1 {
	position:absolute;
	z-index:90;
	left:0;
	top:50%;
	width:100%;
	text-align:center;
	color:#fff;
	transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}

.vision_slider .slide1 .flex_caption1 span {
	display:inline-block;
	padding-top:26px;
	text-transform:uppercase;
	line-height:20px;
	font-size:16px;
	border-top:1px solid rgba(255,255,255,0.2);
}
.vision_slider .slide1 .flex_caption1 p {
	display:inline-block;
	margin:0;
	padding-bottom:18px;
	text-transform:uppercase;
	line-height:33px;
	font-size:26px;
	border-bottom:1px solid rgba(255,255,255,0.2);
}



.vision_slider .slide2 .flex_caption1 {
	position:absolute;
	z-index:90;
	left:0;
	top:50%;
	width:100%;
	text-align:center;
	color:#fff;
	transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.vision_slider .slide2 .flex_caption1 p {
	display:inline-block;
	margin:0;
	padding:19px 0 17px;
	text-transform:uppercase;
	line-height:32px;
	font-size:23px;
	border-top:1px solid rgba(255,255,255,0.2);
	border-bottom:1px solid rgba(255,255,255,0.2);
}

.vision_slider .slide3 .flex_caption1 {
	position:absolute;
	z-index:90;
	left:0;
	top:50%;
	width:100%;
	text-align:center;
	color:#fff;
	transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
}
.vision_slider .slide3 .flex_caption1 p {
	display:inline-block;
	margin:0;
	padding:19px 0 17px;
	text-transform:none;
	line-height:32px;
	font-size:23px;
	border-top:1px solid rgba(255,255,255,0.2);
	border-bottom:1px solid rgba(255,255,255,0.2);
}







/* Flex Caption Effect */
.FadeIn, .FromTop, .FromRight, .FromBottom, .FromLeft {opacity: 0; transition: all 0.7s ease-in-out; -webkit-transition: all 0.7s ease-in-out;}
.captionDelay1 {transition-delay: 0.1s; -webkit-transition-delay: 0.1s;}
.captionDelay2 {transition-delay: 0.2s; -webkit-transition-delay: 0.2s;}
.captionDelay3 {transition-delay: 0.3s; -webkit-transition-delay: 0.3s;}
.captionDelay4 {transition-delay: 0.4s; -webkit-transition-delay: 0.4s;}
.captionDelay5 {transition-delay: 0.5s; -webkit-transition-delay: 0.5s;}
.captionDelay6 {transition-delay: 0.6s; -webkit-transition-delay: 0.6s;}
.captionDelay7 {transition-delay: 0.7s; -webkit-transition-delay: 0.7s;}
.captionDelay8 {transition-delay: 0.8s; -webkit-transition-delay: 0.8s;}
.captionDelay9 {transition-delay: 0.9s; -webkit-transition-delay: 0.9s;}
.captionDelay10 {transition-delay: 1s; -webkit-transition-delay: 1s;}
.captionDelay11{transition-delay: 1.1s; -webkit-transition-delay: 1.1s;}
.captionDelay12 {transition-delay: 1.2s; -webkit-transition-delay: 1.2s;}

.flexslider li.flex-active-slide .FadeIn {opacity: 1;}
.flexslider li .FromTop {transform: translateY(-100%); -o-transform: translateY(-100%); -ms-transform: translateY(-100%); -webkit-transform: translateY(-100%);}
.flexslider li.flex-active-slide .FromTop {opacity: 1; transform: translateY(0); -o-transform: translateY(0%); -ms-transform: translateY(0); -webkit-transform: translateY(0);}
.flexslider li .FromBottom {transform: translateY(100%); -o-transform: translateY(100%); -ms-transform: translateY(100%); -webkit-transform: translateY(100%);}
.flexslider li.flex-active-slide .FromBottom {opacity: 1; transform: translateY(0); -o-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0);}
.flexslider li .FromLeft {transform: translateX(-100%); -o-transform: translateX(-100%); -ms-transform: translateX(-100%); -webkit-transform: translateX(-100%);}
.flexslider li.flex-active-slide .FromLeft {opacity: 1; transform: translateX(0); -o-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0);}
.flexslider li .FromRight {transform: translateX(100%); -o-transform: translateX(100%); -ms-transform: translateX(100%); -webkit-transform: translateX(100%);}
.flexslider li.flex-active-slide .FromRight {opacity: 1; transform: translateX(0); -o-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0);}




/* Products Slide */
.type1 .flexslider#slider1 {float:right; padding-left:170px;}
.ie .type1 #slider1.flexslider {float:none;}
.type1 .flexslider#carousel1 {position:absolute; top:0; left:15px; bottom:0; width:140px; height:100%;}
.type1 #carousel1 .slides li {float:none !important; width:140px;}
.type1 #carousel1 .slides li img {margin-bottom:30px;}
.type1 #carousel1 .flex-viewport {height:625px !important;}

/* Latest Apps Slider */
.latestapps_slider.flexslider {overflow:visible;}
.latestapps_slider.flexslider .slides li {margin-right:30px;}
.latestapps_slider .flex-control-nav {display:block !important; width:100%; top:-17px; right:0; bottom:auto; text-align:right;}
.latestapps_slider .flex-control-nav li {display:inline-block;margin:0 1px 0 5px; vertical-align:top;}
.latestapps_slider .flex-control-nav li a {width:19px; height:6px; margin:0; background:#e3e3e3; background:rgba(192,108,132,0.16);}
.latestapps_slider .flex-control-nav li a.flex-active {background:#4fb4e7;}
.latestapps_slider .flex-viewport {padding-top:27px; margin-top:-27px;}

/* Products Slide Type2 */
#slider2 {background-color:#f5f5f5; margin-bottom:10px;}
#carousel2 .slides li {
	overflow:hidden;
	margin-right:10px;
	width:103px;
	height:109px;
}
#carousel2  img {
	width:81px;
	height:auto;
	margin:0 auto;
}



/* Blog Slider */
.blog_slider.flexslider {overflow:visible;}
.blog_slider .flex-control-nav {display:block !important; width:100%; top:-17px; right:0; bottom:auto; text-align:right;}
.blog_slider .flex-control-nav li {display:inline-block;margin:0 1px 0 5px; vertical-align:top;}
.blog_slider .flex-control-nav li a {width:19px; height:6px; margin:0; background:#e3e3e3; background:rgba(192,108,132,0.16);}
.blog_slider .flex-control-nav li a.flex-active {background:#4fb4e7;}
.blog_slider .flex-viewport {padding-top:27px; margin-top:-27px;}


/* Testimonials Slider */
.testimonials_slider .flex-direction-nav {bottom:50%; right:0; margin-bottom:-17px; height:35px;}
.testimonials_slider .flex-direction-nav li a {position:absolute; z-index:10; top:0; background-color:#ddd;}
.testimonials_slider .flex-direction-nav li a:hover {background-color:#333;}
.testimonials_slider .flex-direction-nav li a.flex-prev {left:0;}
.testimonials_slider .flex-direction-nav li a.flex-next {right:0;}



/* Responsive Styles */
@media (min-width: 992px) and (max-width: 1199px) {
/* Product Slide */
	.type1 #slider1.flexslider {padding-left:142px;}
	.type1 #carousel1 .flex-viewport {height:505px !Important;}
	.type1 #carousel1 .slides li {width:110px;}

	
/* Top Slider */
	.flexslider.top_slider {min-height:510px;}
	
	
	.top_slider .slide1 .flex_caption1:before, .top_slider .slide1 .flex_caption1:after {width:20px;}
	.top_slider .slide1 .flex_caption1:before {right:-50px;}
	.top_slider .slide1 .flex_caption1:after {left:-50px;}
	.top_slider .slide1 .flex_caption2 .slide_icon {width:120px; margin:0 40px;}
	.top_slider .slide1 .flex_caption2 .slide_icon p {font-size:15px; padding:20px 0 0;}
	
	.top_slider .slide2 .flex_caption3:before {width:300px; height:220px; top:-220px;}
	.top_slider .slide2 .flex_caption4:before {width:300px; height:220px;}
	
	
/* Vision Slider */
	.vision_slider, .vision_slider.flexslider .slides li {height:270px;}
	
	
}

@media (min-width: 768px) and (max-width: 991px) {
/* Product Slide */
	.type1 #slider1.flexslider {padding-left:101px;}
	.type1 #carousel1 .flex-viewport {height:389px !Important;}
	.type1 #carousel1.flexslider {width:93px;}
	.type1 #carousel1 .slides li {width:92px;}
	.type1 #carousel1 .slides li img {margin-bottom:10px;}
	
/* Top Slider */
	.flexslider.top_slider {min-height:395px;}
	
	
	.top_slider .slide1 .flex_caption1:before, .top_slider .slide1 .flex_caption1:after {width:20px;}
	.top_slider .slide1 .flex_caption1:before {right:-50px;}
	.top_slider .slide1 .flex_caption1:after {left:-50px;}
	.top_slider .slide1 .flex_caption2 .slide_icon {width:120px; margin:0 40px;}
	.top_slider .slide1 .flex_caption2 .slide_icon p {font-size:15px; padding:20px 0 0;}
	
	.top_slider .slide2 .flex_caption3:before {width:300px; height:220px; top:-220px;}
	.top_slider .slide2 .flex_caption4:before {width:300px; height:220px;}
	
	
/* Vision Slider */
	.vision_slider, .vision_slider.flexslider .slides li {height:240px;}
	
	
	.vision_slider .slide1 .flex_caption1 span {font-size:12px; padding-top:15px;}
	.vision_slider .slide1 .flex_caption1 p {font-size:18px; line-height:20px; padding-bottom:15px;}
	
	
	.vision_slider .slide2 .flex_caption1 p {font-size:16px; line-height:18px; padding:15px 0;}
	
	
	.vision_slider .slide3 .flex_caption1 p {font-size:15px; line-height:20px; padding:15px 0;}
	
	
}

@media (max-width: 767px) {
/* Product Slide */
	.type1 .product_item_details {width:420px !important;}
	.type1 #slider1.flexslider {padding-left:110px;}
	.type1 #carousel1 .flex-viewport {height:416px !Important;}
	.type1 #carousel1.flexslider {width:100px;}
	.type1 #carousel1 .slides li {width:100px;}
	.type1 #carousel1 .slides li img {margin-bottom:10px;}
	
/* Top Slider */
	.flexslider.top_slider {min-height:250px;}
	
	.flex-direction-nav li a.flex-next {right:10px; bottom:5px;}
	.flex-direction-nav li a.flex-prev {right:35px; bottom:5px;}
	
	
	.top_slider .slide1 .flex_caption1 {top:13%;}
	.top_slider .slide1 .flex_caption1 {width:420px; margin-left:-210px; font-size:26px; line-height:28px;}
	.top_slider .slide1 .flex_caption1:before, .top_slider .slide1 .flex_caption1:after {width:15px; top:20px;}
	.top_slider .slide1 .flex_caption1:before {right:-20px;}
	.top_slider .slide1 .flex_caption1:after {left:-20px;}
	
	.top_slider .slide1 .flex_caption2 {bottom:11%;}
	.top_slider .slide1 .flex_caption2 .slide_icon {width:102px; margin:0 20px;}
	.top_slider .slide1 .flex_caption2 .slide_icon p {font-size:13px; padding:10px 0 0;}
	
	
	.top_slider .slide2 .flex_caption3 {left:30px; bottom:15%; font-size:10px; line-height:13px; width:110px;}
	.top_slider .slide2 .flex_caption3:before {width:180px; height:130px; top:-135px;}
	
	.top_slider .slide2 .flex_caption4 {top:15%; font-size:10px; line-height:13px; width:110px;}
	.top_slider .slide2 .flex_caption4:before {width:180px; height:130px;}
	
	
/* Vision Slider */
	.vision_slider, .vision_slider.flexslider .slides li {height:240px;}
	
	
	.vision_slider .slide1 .flex_caption1 span {font-size:12px; padding-top:15px;}
	.vision_slider .slide1 .flex_caption1 p {font-size:18px; line-height:20px; padding-bottom:15px;}
	
	
	.vision_slider .slide2 .flex_caption1 p {font-size:16px; line-height:18px; padding:15px 0;}
	
	
	.vision_slider .slide3 .flex_caption1 p {font-size:15px; line-height:20px; padding:15px 0;}
	
	
}

@media (max-width: 479px) {
/* Product Slide */
	.type1 .product_item_details {width:260px !important;}
	.type1 #slider1.flexslider {padding-left:68px;}
	.type1 #carousel1 .flex-viewport {height:258px !Important;}
	.type1 #carousel1.flexslider {width:59px;}
	.type1 #carousel1 .slides li {width:59px;}
	.type1 #carousel1 .slides li img {margin-bottom:10px;}


/* Related Production */
	.latestapps_slider .flex-control-nav {top:12px;}
	
	
	
/* Top Slider */
	.flexslider.top_slider {min-height:139px;}
	
	
	.top_slider .slide1 .flex_caption1 {width:260px; margin-left:-130px; font-size:15px; line-height:20px;}
	.top_slider .slide1 .flex_caption2 .slide_icon {width:63px; margin:0 10px;}
	.top_slider .slide1 .flex_caption2 .slide_icon p {font-size:8px;}
	
	
	.top_slider .slide2 .flex_caption3 {width:65px; font-size:8px; line-height:11px; bottom:5%;}
	.top_slider .slide2 .flex_caption3:before {width:120px; top:-95px;}
	
	.top_slider .slide2 .flex_caption4 {width:65px; font-size:8px; line-height:11px; top:5%;}
	.top_slider .slide2 .flex_caption4:before {width:120px;}
	
	
/* Vision Slider */
	.vision_slider, .vision_slider.flexslider .slides li {height:160px;}
	
	
	.vision_slider .slide1 .flex_caption1 span {font-size:9px; line-height:13px;}
	.vision_slider .slide1 .flex_caption1 p {font-size:13px; line-height:15px;}
	
	.vision_slider .slide2 .flex_caption1 p {font-size:12px; line-height:17px;}
	
	.vision_slider .slide3 .flex_caption1 p {font-size:12px; line-height:16px;}
	
	
}

































