{% extends '::base.html.twig' %}

{% block breadcrumbs %}
    {% set breadcrumbs = [
    { 'path': path('homepage'), 'title': 'project.homepage'|trans },
    { 'path': path('category'), 'title': 'category.many'|trans },
    { 'title': 'action.create'|trans }
    ] %}
    {{ parent() }}
{% endblock %}

{% block body -%}
    <h1>Category creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
