{% extends '@Default/Inside/layout.html.twig' %}

{% block content %}
    <h1>Обявления</h1>
    {% if adverts|length > 0 %}
        <table class="table table-responsive">
            <thead>
                <th>Id</th>
                <th>Title</th>
                <th>Desc</th>
                <th></th>
            </thead>
            <tbody>
            {% for advert in adverts %}
                <tr>
                    <td>{{ advert.id }}</td>
                    <td>{{ advert.title }}</td>
                    <td>{{ advert.description|slice(0, 60) }}...</td>
                    <td class="text-right">
                        <div class="btn-group btn-group-xs">
                            <a class="btn btn-default" href="{{ path('inside_advert_show', {id: advert.id}) }}"><i class="fa fa-file-text-o"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-info">
            No results
        </div>
    {% endif %}
{% endblock %}