{% extends ':Secured:insideSecured.html.twig' %}

{% set title = 'Категории' %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>asfasdfsadfasf</th>
            <th>asfasdfsadfasf</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>asdfasdf</td>
            <td>asdfasdf</td>
        </tr>
        <tr>
            <td>asdfasdf</td>
            <td>asdfasdf</td>
        </tr>
        </tbody>
    </table>
{% endblock body %}