{% extends '@Default/App/layout.html.twig' %}

{% set breadcrumbs = {title: 'Контакты'} %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Cras ultricies ex sit amet turpis fermentum, ac facilisis arcu sagittis.</li>
        </ol>
        <ol>
            <li>Quisque sed odio vel erat pretium imperdiet nec vestibulum nulla.</li>
            <li>Aliquam maximus neque nec convallis efficitur.</li>
            <li>Nam id mi hendrerit, condimentum justo in, elementum nisl.</li>
        </ol>
    </div>
    <div class="col-md-6">
        <p>Aliquam nisl neque, auctor et interdum id, efficitur eget sem. Cras dolor leo, cursus non semper et, tempus sagittis justo. Vivamus laoreet semper enim, vel blandit mauris. Donec consectetur velit ex, et commodo nisl tincidunt posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque consectetur, massa eget venenatis aliquet, dolor justo semper elit, eget lacinia sem diam malesuada tellus. Nullam varius dui in lacus volutpat, id placerat augue facilisis.</p>
    </div>
</div>
{% endblock %}